@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
    text-align: center;
    background-color: #FAF7FD;
  }

.profile-photo{
    margin-left: 3%;
    border: 3px solid #BB99DD;
    border-radius: 50%;
    width: 15vw;
    height: 30vh;
}
a {
    text-decoration: none;
}
.instagram{
    margin-left: 3%;
    color: #BB99DD;
    font-family: 'Poppins', sans-serif;
}
.link {
    font-family: 'Poppins', sans-serif;
}
.link-1 {
    text-align: center;
    font-size:15px;
    color: #BB99DD;
    margin: auto;
    margin-bottom: 15px;
    width: 20vw;
    padding: 10px;
    border: 1px solid #BB99DD;
}
.link-2 {
    text-align: center;
    font-size:15px;
    color: #BB99DD;
    margin: auto;
    margin-bottom: 15px;
    width: 20vw;
    padding: 10px;
    border: 1px solid #BB99DD; 
}
.link-3 {
    text-align: center;
    font-size:15px;
    color: #BB99DD;
    margin: auto;
    margin-bottom: 15px;
    width: 20vw;
    padding: 10px;
    border: 1px solid #BB99DD;   
}.link-4 {
    text-align: center;
    font-size:15px;
    color: #BB99DD;
    margin: auto;
    margin-bottom: 45px;
    width: 20vw;
    padding: 10px;
    border: 1px solid #BB99DD;   
}
.social{
    margin-left: 4%;
}
.social-1{
    padding-right:15px ;
}
.social-2{
    padding-right:15px ;
}
.social-3{
    padding-right:15px ;

}.social-4{
    padding-right:15px ;
    
}.social-5{
    padding-right:15px ;
}