@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
body {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

.login {
    color: white;
}
.social-icons {
    width: 32px;
    height: 32px;
    float: left;
}