/*MAIN MENU STYLE*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
* {
    font-family: 'Josefin Sans', sans-serif;
}
.menu-background {
    background-color: #5b0d93;
    width: 67vw;
    height: 67vh;
    padding: 0;
    padding-top: 0;
    margin: 0;
}
.menu-main {
    padding-top: 1rem;
    margin: 0;
}
.menu-title {
    border-radius: 15px;
    font-size: 3rem;
    text-align: center;
    padding-right: 2rem;
    background-color: white;
    margin-left: 31rem;
    margin-right: 32rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.container {
    font-size: 32px;
    backdrop-filter: blur(20px);
    border-radius: 15px;
    color: black;
    text-align: center;
    align-content: center;
    margin: 0 30rem 0 30rem;
    background-color: whitesmoke;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
a {
    color: #5b0d93;
    text-decoration: none;
}
a.list1:hover{
    color: red;
}
a.list2:hover{
    color: red;
}a.list3:hover{
    color: red;
}a.list4:hover{
    color: red;
}a.list5:hover{
    color: red;
}
.fieldset {
    background-color: white;
}
/*CONTACT STYLE*/
.contact-background {
    background-color: #5b0d93;
}
.contact-button{
    border-radius: 25px;
    color: white;
    background-color: #5b0d93;
}
.contact-button1{
    border-radius: 25px;
    color: white;
    text-decoration: none;
}
/*BLOG STYLE*/
.blog-background {
    color: white;
    background-color: #5b0d93;
    text-align: center;
}
.blog-hiperlink1{
    color: white;
}
.blog-hiperlink2{
    color: white;
}
.blog-hiperlink3{
    color: white;
}
a.blog-hiperlink1:hover {
    color: red;
}
a.blog-hiperlink2:hover {
    color: red;
}a.blog-hiperlink3:hover {
    color: red;
}